<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> 
        Datos de tú clase 
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      <table>
        <tr>
          <td class="ancho_columna_titulos">Bloque de Inicio</td>
          <td>{{bloqueInicio}}</td>
        <tr>
        <tr>
          <td>Bloque de Término</td>
          <td>{{bloqueTermino}}</td>
        <tr>
        <tr>
          <td>Día</td>
          <td>{{dia}}</td>
        <tr>
        <tr>
          <td>Hora de Fin</td>
          <td>{{horaFin}}</td>
        <tr>
        <tr>
          <td>Hora de Inicio</td>
          <td>{{horaInicio}}</td>
        <tr>
        <tr>
          <td>Sigla</td>
          <td>{{idAsignatura}}</td>
        <tr>
        <tr>
          <td>Nombre de Asignatura</td>
          <td>{{nombreAsignatura}}</td>
        <tr>
        <tr>
          <td>Nombredel Profesor</td>
          <td>{{nombreProfesor}}</td>
        <tr>
        <tr>
          <td>Sección</td>
          <td>{{seccion}}</td>
        <tr>
        <tr>
          <td>Sede</td>
          <td>{{sede}}</td>
        <tr>
      </table>
      <hr>
      <ion-button  (click)="limpiarDatos()" expand="block" shape="round" size="small" fill="outline">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Limpiar datos
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>