<ion-content color="secondary">  

  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <ion-img src="../assets/images/logo_duoc.png"></ion-img>
      <h1>Sistema Asistencia DUOC</h1>
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title class="ion-padding-top">
        <ion-label>Recuperar Contraseña</ion-label>
        <br>
        <br>  
        <ion-label position="floating">Paso 2: ¡Responde tú pregunta secreta! <hr></ion-label>
        <ion-label position="floating">{{ pregunta }}<hr></ion-label>
        <br>
      </ion-card-title>
      <hr>
      <ion-card-content>
        <ion-item class="ion-padding-top">
          <ion-label *ngIf="usuario" style="color: black;" position="floating">pregunta:{{usuario.preguntaSecreta}}</ion-label>
          <ion-input id="respuesta" type="text" placeholder="Responda la pregunta secreta" [(ngModel)]="respuesta"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="ingresarRespuesta()" shape="block" color="success">Recuperar contraseña</ion-button>
          </ion-col>
        </ion-row>
        
        <ion-button (click)="iniciarSesion()" shape="block" color="danger">
        Iniciar sesion
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
