
 
 <ion-content class="background">
    <ion-title class="ion-padding-top ion-text-center">
      <ion-label>
        <ion-img src="../assets/images/logo_duoc.png" ></ion-img>
        <h2>Sistema de Asistencia DUOC</h2>
      </ion-label>
      <br>
    </ion-title>
    
    <div class="ion-padding-vertical">
      <!--
        Se establece un card que contendrá un título
        y un contenido
      -->
      <ion-card color="primary" class="ion-text-center ion-padding-vertical" >

        <ion-card-title class="ion-text-center">
          <ion-label>
            <h2>¡Bienvenido!</h2>
          </ion-label>
        </ion-card-title>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <!-- Usamos ngModel para indicarle al input con que propiedad del controlador va a trabajar -->
            <ion-input type="text" [(ngModel)]="correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" >Contraseña</ion-label>
            <!--
              El type Password inmediatamente pasa lo que uno
              escribe a *****
              Nuevamente usamos ngModel para indicarle al input que propiedad a utilizar
            -->
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col size="12">
              <!--
                Para usar un método de la clase controladora, hay que escribir el evento del control entre paréntesis y luego
                indicar cual es el método a ejecutar; en este caso se trata de ingresar()
              -->
              <ion-button shape="block" (click)="ingresar()">Ingresa a tu cuenta</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>

        <ion-label>
          <br>
          <ion-button (click)="ingresoCorreo()" expand="block" fill="clear" shape="round">¿Olvidaste tu contraseña?</ion-button>
        </ion-label>
      </ion-card>
    </div>

  </ion-content>
