.correcto {
    height: 200px;
    display: block;
    margin: auto;
    padding-right: 50px;
    background: url('../../../assets/images/alonso_ovalle.jpg') no-repeat center/cover fixed;
}

h2 {
    font-weight: bold;
    color: white;
}


  