<ion-content color="secondary">  

  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <ion-img src="../assets/images/logo_duoc.png"></ion-img>
      <h1>Sistema Asistencia DUOC</h1>
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title class="ion-padding-top">
        <ion-label>¡PREGUNTA INCORRECTA!</ion-label>
      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-label class="ion-text-center">
            Lo sentimos pero los datos que <br>ingresaste son incorrectos.
            <br>
            Intentalo de nuevo
          </ion-label>
        </ion-item>
        <ion-img src="../assets/images/x_incorrecto.png" class="correcto"></ion-img>
        
        <ion-button (click)="iniciarSesion()" shape="block" color="danger">
        Iniciar sesion
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
