<ion-app>
  <ion-header>
    <ion-toolbar color="secondary" >
      <ion-title #titulo>
        <ion-img src="../assets/images/logo_duoc.png" style="max-width: 50%; max-height: 70%;" ></ion-img>
        <h2>Sistema de Asistencia DUOC</h2>
      </ion-title>
      <ion-item color="secondary" [hidden]="!showqr">
        <ion-button (click)="stopScanner()" expand="block" shape="round" class="center-margin-auto" color="dark">
          Stop scanner
        </ion-button>
      </ion-item>
    </ion-toolbar>


    <ion-toolbar color="secondary">
      <ion-segment value="inicio" (ionChange)="segmentChanged($event)" [(ngModel)] ="selectedComponent">
        <ion-segment-button value="inicio">
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-segment-button>
  
        <ion-segment-button value="qr">
          <ion-icon name="qr-code-outline"></ion-icon>
          <ion-label>Qr</ion-label>
        </ion-segment-button>

        <ion-segment-button value="mi-clase">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Mi clase</ion-label>
        </ion-segment-button>
        
        <ion-segment-button value="foro">
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <ion-label>Foro</ion-label>
        </ion-segment-button>

      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content [hidden]="showqr">
    <app-inicio #inicio [hidden]="!showinicio"></app-inicio>
    <app-mi-clase #miclase [hidden]="!showmiclase"></app-mi-clase>
    <app-foro #foro [hidden]="!showforo"></app-foro>
  </ion-content> 

  <app-qr #qr></app-qr>
  
  
  <ion-footer>
    <ion-toolbar color="secondary">
      <hr>
      <ion-label>
        <ion-button expand="block" shape="round" (click)="salir()" color="danger" style="padding-left: 40px; padding-right: 40px;" #qrAnimado>Cerrar Sesión</ion-button>
      </ion-label>
      <hr>
      <ion-title style="font-size: 13px; padding-bottom: 15px;" >Aplicación realizada por Pfifa CORP</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>
